@model NextStepMVC.Models.RetrieveContent

@{
    ViewBag.Title = "EditPass";
}

@{ int paddingtop = Model.Style.HeaderSize;}
@if (Model.Style.HeaderAlignRight != 2)
{
    paddingtop = paddingtop * 2;
}
else
{
    if (Model.Style.HeaderSize == 0)
    {
        paddingtop = paddingtop + 20;
    }
    if (Model.Style.HeaderSize == 10)
    {
        paddingtop = paddingtop + 50;
    }
    if (Model.Style.HeaderSize == 20)
    {
        paddingtop = paddingtop + 80;
    }
}

    <div style="padding-top: @Html.Raw(paddingtop)px;"></div>
    <div class="container" style="padding-top: @Html.Raw(Model.Style.HeaderSize * 2)px;">

        @if (ViewBag.Error != null)
        {
            <div class="jumbotron" style="background-color: #FFBABA; height: 50px; padding-top: 14px">
                <h5 style="color: #D8000C"> <i class="glyphicon glyphicon-ban-circle">  </i> @Html.Raw(ViewBag.Error) </h5>
            </div>
        }
        else if (ViewBag.Success != null)
        {
            <div class="jumbotron" style="background-color: #DFF2BF; height: 50px; padding-top: 14px">
                <h5 style="color: #4F8A10"> <i class="glyphicon glyphicon-ok">  </i> @Html.Raw(ViewBag.Success) </h5>
            </div>
        }

        <a href="/Admin/ManageUsers">Tilbage</a>

        <div class="row">
            <h2>Ret Password</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="ThisId" hidden value="@ViewBag.ThisId" />

            @foreach (var item in Model.AdminLogins)
            {

                if (item.Id == ViewBag.ThisId)
                {
                    <h4> Kontonavn: @item.user</h4>
                    <div class="form-group">
                        <label>
                            <span class="field-tip">
                                Nuværende password:
                                <span class="tip-content">Der password der på nuværende tidspunkt bliver brugt til at logge ind på denne konto.</span>
                            </span>
                        </label>
                        <br />
                        <input type="password" name="pwd" />
                    </div>

                    <div class="form-group">
                        <label>
                            <span class="field-tip">
                                Nyt password:
                                <span class="tip-content">Det nye password.</span>
                            </span>
                        </label>
                        <br />
                        <input type="password" name="npwd" />
                    </div>

                    <div class="form-group">
                        <label>
                            <span class="field-tip">
                                Bekræft nyt password:
                                <span class="tip-content">Dette password skal være identisk med det password du indtastede i feltet ovenfor.</span>
                            </span>
                        </label>
                        <br />
                        <input type="password" name="nwpd2" />
                    </div>
                    break;
                }
            }
            <div class="col-md-2">
                <div class="hidden-lg hidden-md">
                    <br />
                </div>
                <button class="btn btn-inverse" style="align-items: center; width: 100%" title="Gem" type="submit" name="submit" id="save" value="save">Skift Password</button>
            </div>
        </form>
    </div>
