@model NextStepMVC.Models.RetrieveContent
@{
    ViewBag.Title = "AddComboPanel";
}
<head>
    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    
    <script type="text/javascript">

        $(document).ready(function() {
            $('#menuTag').autocomplete(
            {
                source: '@Url.Action("GetMenuTags", "Add")'
            });
        })
    </script>
</head>

@{ int paddingtop = Model.Style.HeaderSize;}
@if (Model.Style.HeaderAlignRight != 2)
{
    paddingtop = paddingtop * 2;
}
else
{
    if (Model.Style.HeaderSize == 0)
    {
        paddingtop = paddingtop + 20;
    }
    if (Model.Style.HeaderSize == 10)
    {
        paddingtop = paddingtop + 50;
    }
    if (Model.Style.HeaderSize == 20)
    {
        paddingtop = paddingtop + 80;
    }
}

    <body>
        @if (ViewData["id"] != null)
        {
            var id = ViewBag.id;
            <div class="container" style="padding-top: @Html.Raw(paddingtop)px;">
                <a href="/Admin/AdminHome">Tilbage</a>
                <form method="post" enctype="multipart/form-data">
                    <input type="text" value="@Model.Pan[id].Panel_Id" hidden name="thisID" />
                    <div class="row">
                        <h2>Ret Combo Panel</h2>

                        <div class="form-group">
                            <label>
                                <span class="field-tip">
                                    Menu navn:
                                    <span class="tip-content">Hvad der kommer til at stå i toppen af siden.</span>
                                </span>
                            </label>
                            <input type="text" value="@Model.Pan[id].MenuTag" required class="form-control" id="menuTag" name="menuTag">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="field-tip">
                                    Undermenu navn:
                                    <span class="tip-content">Hvis der er flere paneler med samme 'Menu navn' laves en undermenu hvor dette navn bruges.</span>
                                </span>
                            </label>
                            <input type="text" required class="form-control" value="@Model.Pan[id].UnderMenuTag" name="underMenuTag">
                        </div>
                        <label>
                            <span class="field-tip">
                                Panel Design:
                                <span class="tip-content">Her vælger du en af dine panel styles (Disse angiver fx. baggrundsfarve, skriftype, osv.)</span>
                            </span>
                        </label>
                        <select required class="form-control" name="panelDesign">
                            @foreach (var item in Model.PanelStyles)
                            {
                                if (item.Id == Model.Pan[id].StyleSheet)
                                {
                                    <option selected value=@item.Id>@item.StyleName</option>
                                }
                                else
                                {
                                    <option value=@item.Id>@item.StyleName</option>
                                }
                            }
                        </select>
                        <div class="form-group">
                            <label>
                                <span class="field-tip">
                                    Overskrift:
                                    <span class="tip-content">En overskrift i selvepanelet, fx. 'Velkommen til www.sima.dk'</span>
                                </span>
                            </label>
                            <input type="text" required value="@Model.Pan[id].CombomPanel.Header" class="form-control" name="hdr">
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="field-tip">
                                    Panel Tekst:
                                    <span class="tip-content">Dette panel har en tilhørende tekst.</span>
                                </span>
                            </label>
                            <textarea required name="cntxt">@Model.Pan[id].CombomPanel.Context</textarea>
                            <script>
                                CKEDITOR.replace('cntxt');
                            </script>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>
                                        <span class="field-tip">
                                            Upload billede:
                                            <span class="tip-content">Her kan du uploade et billede som vises i panelet.</span>
                                        </span>
                                    </label>
                                    <input type="file" id="imagefile" name="imagefile" />
                                </div>
                                <div class="col-md-1">
                                    <img style="max-height: 75px; max-width: 75px" src="data:image;base64,@Convert.ToBase64String(Model.Pan[id].CombomPanel.ImageData)" />
                                </div>
                            </div>
                        </div>
                        <label>
                            <span class="field-tip">
                                Billede placering:
                                <span class="tip-content">Her vælges hvilken side af panelet billedet skal placeres i.</span>
                            </span>
                        </label>
                        <select required class="form-control" name="align">
                            @if (Model.Pan[id].CombomPanel.PictureAlign == "Right")
                            {
                                <option value="Left">Venstre</option>
                                <option selected value="Right">Højre</option>
                            }
                            else
                            {
                                <option selected value="Left">Venstre</option>
                                <option value="Right">Højre</option>
                            }
                        </select>
                        <div>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <div class="hidden-lg hidden-md">
                                <br />
                            </div>
                            <button class="btn btn-inverse" style="align-items: center; width: 100%" title="Gem" type="submit" name="submit" id="save" value="save">Gem</button>
                        </div>
                        <div class="col-md-2">
                            <div class="hidden-lg hidden-md">
                                <br />
                            </div>
                            <button class="btn btn-inverse" style="align-items: center; width: 100%" title="Annuller" type="submit" name="submit" id="cancel" value="cancel">Annuller</button>
                        </div>
                        <div class="col-md-2">
                            <div class="hidden-lg hidden-md">
                                <br />
                            </div>
                            <button class="btn btn-inverse" style="align-items: center; width: 100%" title="Slet" type="submit" name="submit" onclick="return confirm('Er du sikker på du vil slette dette panel?')" id="delete" value="delete">Slet</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </body>
